*{
	margin:0;
	padding:0;
	color:white;
}
span{
	--float:left;
	--border: 1px solid yellow;
	--margin-top:10px;
}

div{
	--border: 1px solid purple;
	--overflow:auto;
}
body{
	font-family:Arial;
	background-color: black;
}
h1{
	margin-top:10px;
	text-align:center;
}
header{
	--border:2px solid #7f1dFF;
	position:absolute;
	text-align: center;
	overflow: auto;
	width:100%;
	padding: 10px;
}

content{
	--border: 1px solid green;
	left:10%;
	top:80px;
	position:absolute;
	padding: 10px;
	--border:2px solid red;
	width: 90%;
	height:630px;

}

#info_content{
	--border:2px solid green;
	padding: 10px;
	--position:absolute;
	width:90%;
	height: 80px;
	margin: 0 auto;
}

#info_content_left{
	float: left;
	width:45%;
	height:80px;
	--border: 2px solid #7f1dFF;
	padding: 10px;
	padding-left:0;
}
#health_point_enemy{
	margin-left: 10px;

}

#health_point_player{
	margin-left: 10px;
}

#health_bar_enemy{
	float: left;
	--border: 2px solid #7f1d31;

	margin-left: 50px;
	width: 50%;
	height: 20px;
	background-color: orange;

}
#health_bar_enemy_inner{
	background-color: green;
	width:100%;
	height:100%;

}

#health_bar_player{
	float: left;
	--border: 2px solid #7f1d31;

	margin-left: 50px;
	width: 50%;
	height: 20px;
	background-color: orange;

}

#health_bar_player_inner{
	background-color: green;
	width:100%;
	height:100%;
}

#info_content_right{
	float:right;
	width:45%;
	height:80px;
	--border: 2px solid #7fFFFF;
}

#timer{
	margin:10px;
	--border: 1px solid red;
	font-weight:bold;
	font-size:140%;
	width:auto;

}

#game_content{
	--border: 1px solid magenta;
	margin-top: 9%;
	padding: 10px;
	height: 70%;
	width: 91%;
	margin: 0 auto;

}

#game_content_left{
	float:left;
	width:650px;
	height:100%;
	position:relative;
	--background-image:url("background_graphics/room_background.jpg");
	--background-image:linear-gradient(90);
	--background-size:cover;
	--background-repeat: no-repeat;
	--border-radius: 2%;
}

#background_picture_button{
	width:650px;
	height:100%;
	overflow:hidden;
	border-radius: 2%;
	z-index: 0;
	position: absolute;
}

#enemy_button{
	--border:1px solid green;
	width:80px;
	height:auto;
	--min-height:80px;
	margin-top:100px;
	margin-left:100px;
	z-index: 1;
	position: absolute;
}

#little_boss{

	text-align:center;
	display:block;
	margin-left:10px;
	margin-top:3%;
	font-weight:bold;
}
#big_boss{

	text-align:center;
	display:block;
	margin-left:60%;
	margin-top:3%;
	font-weight:bold;
}

#game_content_right{
	float:right;
	width:40%;
	height:100%;
	border-radius: 5%;
	--border: 1px solid red;
}
#info_buttons{
	margin:0;
	border-radius: 8% 8% 0 0;
	height:80px;
	width:320px;
	--border: 5px solid green;
	overflow: hidden;
}

#click_info_button{
	width: 80px;
	height: 80px;
	background-color:#66cdaa;
}

#worker_info_button{
	width: 80px;
	height: 80px;
	background-color:#65A0BE;
}

#shop_info_button{
	width: 80px;
	height: 80px;
	background-color:#CD9363;

}

#setting_info_button{
	width: 80px;
	height: 80px;
	background-color:#C9605B;

}

#click_info_window{
	background-color:#66cdaa;
	width:320px;
	height:82%;
	border-radius: 0 0 3% 3%;

}

#skills{

	margin:10px;
	border-width:auto;
	border-color:white;
}
#increase_click_strength{
	width:10%;
	height:auto;
}


.tooltip {
	--position: absolute;
	display: none;
	background-color: #FFFFFF;
	color:black;
}



#worker_info_window{
	background-color:#65A0BE;
	width:320px;
	height:82%;
	display:none;
	border-radius: 0 0 3% 3%;
}

#shop_info_window{
	background-color:#CD9363;
	width:320px;
	height:82%;
	display:none;
	border-radius: 0 0 3% 3%;
}

#setting_info_window{
	background-color:#C9605B;
	width:320px;
	height:82%;
	display:none;
	border-radius: 0 0 3% 3%;
}
footer{
	--border: 2px solid green;
}
