/*General css*/

*{
  margin:0;
  padding:0;
  color:white;
  font-family:Arial;
}
span{
  float:left;
  --border: 1px solid yellow;
  --margin-top:10px;
}



div{
  --border: 1px solid purple;

}
body{

  background-color: black;
  --font-size: 1em;
}
h1{
  margin-top:0.5em;
  margin-bottom:0.2em;
  font-size: 2em;
}
header{
  --border:2px solid #7f1dFF;
  overflow: auto;
  padding-left: 5em;
}

#level{
  padding-left: 4em;
  font-size: 1.5em;
}

  #info_content{
  	--border:2px solid green;

  	padding: 0.5em;
  	--width:80%;
  	height: 5em;
  	margin: 0 auto;
  }

  #info_content_left{
  	float: left;
  	width:22em;
  	height:4em;
  	--border: 2px solid #7f1dFF;
  	padding: 0.5em;
  	margin-left:3em;
  }

  #health_point_enemy{
  	margin-left: 1em;

  }

  #health_point_player{
  	margin-left: 1em;
  }

  #health_bar_enemy{
  	float: left;
  	--border: 2px solid #7f1d31;
  	margin-left: 2em;
  	width: 50%;
  	height: 1.2em;
  	background-color: orange;

  }
  #health_bar_enemy_inner{
  	background-color: green;
  	width:100%;
  	height:100%;

  }

  #health_bar_player{
  	float: left;
  	--border: 2px solid #7f1d31;
  	margin-left: 2em;
  	width: 50%;
  	height: 1.2em;
  	background-color: orange;

  }

  #health_bar_player_inner{
  	background-color: green;
  	width:100%;
  	height:100%;
  }

  #info_content_right{
  	--border: 2px solid #7f1dFF;
    padding-top:1em;
  	width:20em;
  	height:2em;
  }

  #timer{
  	float:left;
  	margin-top:1%;
  	--border: 1px solid red;
  	height:3em;
  	width:6em;
  	font-weight:bold;
  	--font-size:140%;
  	text-align:center;
  }

  #little_boss{
  	display:block;
  	--border:1px solid green;
  	text-align:center;
  	margin-top:1%;
  	font-weight:bold;
  	height:3em;
  	width:6em;
  }

  #big_boss{

  	--border:1px solid blue;
  	text-align:center;
  	height:3em;
  	width:6em;
  	margin-top:1%;
  	font-weight:bold;
  }

  #game_content{
  	--border: 1px solid magenta;
  	margin-top: 1%;
  	margin-left:1em;
  	padding: 1em;
  	height: 25em;
  	width: auto;

/*game content*/
  }

  #game_content_left{
  	float:left;
    display:inline-block;
  	width:40em;
    --padding-left: 5em;
  	height:100%;
  }

  #background_picture_button{
  	width:40em;
  	height:25em;
  	overflow:hidden;
  	border-radius: 2%;
  	z-index: 0;
  	position: absolute;
  }

  #enemy_button{
  	--border:1px solid green;
  	width:7em;
  	height:auto;
  	margin-top:8em;
  	margin-left:8em;
  	z-index: 1;
  	position: absolute;
  }

  #enemy_weapon_button{
  	--border: 1px solid green;
  	visibility:hidden;
  	width:25em;
  	height:auto;
  	margin-top:6em;
  	margin-left:6em;
  	z-index: 2;
  	position: absolute;
  }

  #shield_button{
  	display:none;
  	width:5em;
  	height:auto;
  	opacity:0.85;
  	margin-top: 1em;
  	margin-left:35em;
  	z-index: 3;
  	position: absolute;
  }

  /* Desktop Styles */
  @media only screen and (min-width: 961px) {

      #game_content_right{
        padding-left: 45em;
      	width:10em;
      	height:25em;
      	border-radius: 5%;
        --border: 1px solid red;
      }
  }

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */

    }

  #game_content_right{
    display:block;
    padding-top: 28em;
    width:10em;
    height:25em;
    border-radius: 5%;
    --border: 1em solid yellow;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }

  #game_content_right{
    display:block;
    padding-top: 28em;
    width:10em;
    height:25em;
    border-radius: 5%;
    --border: 1px solid red;
  }

}


#info_buttons{
  margin:0;
  padding: 0;
  border-radius: 8% 8% 0 0;
  height:5em;
  width:20.5em;
  --border: 5px solid green;
  overflow: hidden;
}

#click_info_button{
  width: 5em;
  height: 5em;
  background-color:#66cdaa;
}

#worker_info_button{
  width: 5em;
  height: 5em;
  background-color:#65A0BE;
}

#shop_info_button{
  width: 5em;
  height: 5em;
  background-color:#CD9363;
}

#setting_info_button{
  width: 5em;
  height: 5em;
  background-color:#C9605B;
}

#click_info_window{
  background-color:#66cdaa;
  width:20em;
  height:20em;
  border-radius: 0 0 3% 3%;
}

fieldset{
  padding: 1em;
  height:15em;
  margin-left:0.5em;
  margin-right:0.5em;
}
#increase_click_strength{
  width:auto;
  height:2em;
  margin:1em;
}

#click_strength_label{
  padding-left: 1em;


}

.tooltip {
  display: none;

}

#worker_info_window{
  background-color:#65A0BE;
  width:20em;
  height:20em;
  display:none;
  border-radius: 0 0 3% 3%;
}

#shop_info_window{
  background-color:#CD9363;
  width:20em;
  height:20em;
  display:none;
  border-radius: 0 0 3% 3%;
}

#setting_info_window{
  background-color:#C9605B;
  width:20em;
  height:20em;
  display:none;
  border-radius: 0 0 3% 3%;
  --font-style:italic;
}
footer{
  --border: 2px solid green;
}
